* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #25252514;
}

.navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.painel-poke {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-pokemon {
    width: 512px;
    image-rendering: pixelated;
}